<!DOCTYPE html>
<html>
<head>
    <title>Weather Query History</title>
    <link rel="stylesheet" href="history.css">
</head>
<body>
    <div class="container">
        <h1>Historical Weather Queries</h1>
        <table>
            <tr>
                <th>Request ID</th>
                <th>ZIP Code</th>
                <th>Request Time</th>
                <th>Weather Response</th>
            </tr>
            {% for request in requests %}
            <tr>
                <td>{{ request.request_id }}</td>
                <td>{{ request.zip_code }}</td>
                <td>{{ request.request_time }}</td>
                <td><div class="weather-response">{{ request.weather_response }}</div></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
